.left {
    border: 1px solid #cad2c5;
    border-top: 5px solid #2f3e46;
    border-radius: 20px;
    max-width: 18em;
    margin-right: auto;
    text-align: center;
    height: 18em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

h5 {
    margin-top: 3em;
}

.left:hover {
    margin-top: 1em;
    height: 20em;
    border-top: 5px solid #adb5bd;
}