<% layout('layouts/boilerplate') %>

    <div class="container text-center">
        <h1>About Us</h1>

        <p class="lead">PC Agro Entreprise is an existing registered farm dedicated to the production of
            quality catfish seeds and table sized fish that are both stress and disease tolerant, broiler chickens,
            snails,
            pumpkin leaves(egwu) and plantain.</p>

        <p class="lead">PC Agro Entreprise has been setup as a farming business based in Ikorodu Lagos
            state, Nigeria. We are working hard to become a leading producer of quality catfish
            seeds and tasty adult catfish as well as make our own contribution in the growing
            catfish farming business sector, also contributing to the fish protein requirement
            of our nation. By leveraging on a well thought out business plan executed by a
            skilled and experienced management team. </p>
    </div>