<% layout('layouts/boilerplate') %>
    <div class="container text-center ">
        <h1>
            <%= category %> Products
        </h1>

        <p>View our produce below</p>
        <div>
            <% for( let product of products ) { %>
                <p><a href="/products/<%= product._id %>">
                        <%= product.name %>
                    </a></p>
                <% } %>
        </div>
        <% if (category !=='All' ) { %>
            <a href="/products">All Products</a>
            <% } %>
    </div>